#
# define the start time of the calibration
# in the format of YYYYMMDD
export STARTPDY=20250513
#
# define the start hour of the calibration
export STARTCYC=06
# define the forecast length in hours of the calibration
export FCST_LENGTH_HRS=11
#
# location of the hot restart file for SCHISM. For cold start, set the value to ''.
export HOT_START_FILE=/efs/ngwpc-coastal/restart_coastal/hotstart_analysis_assim_coastal_atlgulf_ana_20240220_1000.nc

#
# location of the archived STOFS file if STOFS data is 
# going to be used for the boundary nodes
export STOFS_FILE=/efs/$LOGNAME/schism_forecast_test/stofs/stofs_2d_glo.t06z.fields.cwl.nc

#
# location of the NWM retrospective or archieved forcing files
# note that the time span of the files must cover the whole simulation period
export HRRRDIR=/efs/$LOGNAME/schism_forecast_test/hrrr
export HRRRFILE=$HRRRDIR/hrrr.20250513/hrrr.t05z.wrfsfcf01.grib2
#
# location of the NWM retrospective or archieved streamflow files
# note that the time span of the files must cover the whole simulation period
export TROUTE_PATH=/efs/$LOGNAME/schism_forecast_test/Lower_Colorado_River_ngen/output_schism_test

#the name of the NWM domain to calibrate, one of hawaii, prvi, pacific or atlgulf
export COASTAL_DOMAIN=atlgulf
#
#define working directory of the SCHISM calibration run
export COASTAL_WORK_DIR=/efs/$LOGNAME/schism_forecast_test/schism_forecast_2025051100

#set the Singularity image file
SIF_PATH="/contrib/Zhengtao.Cui/home/ngwpc/singularity/ngen_coastal_sing.sif"

##################################################################################################
# End of user defined section
##################################################################################################
